.certificationDiv

{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 100px;
    
   
}

.certificationDiv h1
{
    align-self: center;
    font-size: 40px;
    font-weight: 600;
   
}
.certificationImageDiv
{
    display: flex;
    justify-content: space-between;
    padding: 80px;
    width: 100%;

}

.certificationImageDiv img
{
    width: 230px;
}