
.mainContainer
{
 
    background-color: black;
    padding: 5%;
}

.CollectionHeading
{       
  color: white;
  margin-bottom: 30px;
}


@media (max-width: 768px) {

  .mainContainer
  {
    justify-content: center;
    display: flex;
    flex-direction: column;
  }

  .CollectionHeading
  {
    align-self: center;
  }
}