.main
{

    background-color: white;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 5%;
    padding-bottom: 10%;

    
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.mainHead
{

    align-self: center;
    font-size: 100px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    
}

.subHead
{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
    align-self: center;
    margin-top: 40px;
    margin-bottom: 50px;
    font-size: 25px;
   
}

.buttonMain {
    --c: black; /* the color*/
    
    box-shadow: 0 0 0 0.1em inset var(--c);
    --_g: linear-gradient(var(--c) 0 0) no-repeat;
    background: var(--_g) calc(var(--_p, 0%) - 100%) 0%,
      var(--_g) calc(200% - var(--_p, 0%)) 0%,
      var(--_g) calc(var(--_p, 0%) - 100%) 100%,
      var(--_g) calc(200% - var(--_p, 0%)) 100%;
    background-size: 50.5% calc(var(--_p, 0%) / 2 + 0.5%);
    outline-offset: 0.1em;
    transition: background-size 0.4s, background-position 0s 0.4s;
    width:fit-content;
    align-self: center;
    
    
  }
  .buttonMain:hover {
    --_p: 100%;
    transition: background-position 0.4s, background-size 0s;
    color: #fff;
    
  }
  .buttonMain:active {
    box-shadow: 0 0 9e9Q inset #0009;
    background-color: var(--c);
    color: #fff;
  }
  
  .buttonMain {
    font-family: system-ui, sans-serif;
    font-size: 1.2rem;
    cursor: pointer;
    color: black;
    padding: 1em 1.4em;
    font-weight: 500;
    border: none;
  }


  @media (max-width: 768px) {

    .main
    {
      padding: 20px;
    }

    .mainHead
    {
      font-size: 70px;
      text-align: center;
      
    }

    .subHead
    {
      text-align: center;
    }

    .buttonMain
    {
      align-self:center;

    }


  }


  